.reveal-btn{
  width: 80px;
  height: 50px;
  background-color: rgb(10, 104, 227);
  border: none;
  border-radius: 25px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.watch-img{
  width: 250px;
  margin-left: 50px;
  margin-top: 20px;
}

.details-watch{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  color: black;
  line-height: 30px;
  margin-left: 10px;
}

.tobold{
  font-weight: 600;
}

.tobold2{
  font-weight: 800;
}