.hero-2{
  width: 150px;
  height: 250px;
}

.why-special{
  background-color: #EFCD0F;
  width: 190px;
  height: 35px;
  border-radius: 30px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 80px;
}
.why-special-text{
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 6px;
  margin-left: 8px;
}

.arrowdown2,
.arrowdown{
  margin-top: 5px;
  margin-left: 170px;
}

.arrowdown2{
  margin-top: 10px;
  margin-left: 165px;
}

.because{
  width: 290px;
  height: 45px;
  background-color: #12FAE7;
  border-radius: 70px;
  margin-left: 38px;
  display: inline-block;
}

.because-text{
  font-family: Montserrat;
  color: black;
  margin-top: 12px;
  margin-left: 50px;
}

.dad-stats{
  background-color: #960DFE;
  width: 360px;
  height: 70px;
  display: flex;
  margin-top: 22px;
}

.stats-img2,
.stats-img{
  width: 43px;
  height: 44px;
  margin-left: 7px;
  margin-top: 10px;
}

.stats-text{
  width: 120px;
  height: 24px;
  font-family: Montserrat;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 22px;
  margin-left: 70px;
}

.stats-img2{
  margin-left: 65px;
}

.hardwork,
.problems,
.tea-break{
  background-color: #13EB95;
  width: 241px;
  height: 65px;
  margin-top: 8px;
  margin-left: 63px;
  border-radius: 40px;
  display: inline-block;
}

.tea-text{
  width: 183px;
  color: #1A8FE3;
  height: 16px;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 33px;
  margin-top: 7px;
}

.tea-img{
  margin-left: 104px;
  margin-top: 5px;
}

.problems,
.hardwork{
  background-color: #13ABEB;
  margin-top: 21px;
  display: flex;
}

.years{
  font-family: Montserrat;
  font-weight: bolder;
  color: #BB1AE3;
  margin-top: 18px;
  margin-left: 15px;
  font-size: 13px;
}

.hard-img{
  width: 28px;
  height: 28px;
  margin-left: 20px;
  margin-top: 20px;
}

.problems{
  background-color: #2213EB;
  display: inline-block;
}

.problems-text{
  font-family: Montserrat;
  color: white;
  font-weight: bolder;
  font-size: 13px;
  margin-top: 9px;
  margin-left: 10px;
}

.problems-img{
  width: 52px;
  height: 35px;
  margin-left: 94px;
  margin-top: 4px;
}

.extra-comments{
  width: 360px;
  height: 73px;
  margin-top: 31px;
  background-color: #0BBACE;
  display: flex;
}

.extra-text{
  width: 249px;
  height: 29px;
  color: white;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 10px;
}

.comment-img{
  width: 91px;
  height: 49px;
  margin-left: 10px;
  margin-top: 12px;
}

.comedy-img{
  width: 100%;
  bottom: -7px;
  top: -1px;
  position: relative;
}
